
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Aleo&display=swap');
*{
    padding: 0;
    margin: 0;
}
.container{
    width: 100%;
    height: 782px;
    background-image: url(images/pancake.jpg);
    background-position: center;
    background-attachment: unset;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    align-items: center;
}
.container .navigation ul{
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
}
 li{
    font-family: 'Courier New', Courier, monospace;
    display:inline-block;
    margin: 10px 20px 10px 20px;
}
  li a{
    display: block;
    color: white;
    padding: 18px 30px;
    margin: 12px;
    text-decoration: none;
}
 li a:hover:not(.active){
    text-decoration: underline;
    text-underline-offset: 13px;
}
 .active{
    text-decoration:underline;
    padding-left: 215px;
    text-underline-offset: 13px;
}
a .icon{
    display: none;
}
.container .content{
    font-family:'Allura', cursive;
    color: rgb(252, 247, 247);
    margin:  0 auto;
    padding: 165px;
}
.container .content h1{
    line-height: 49px;
    height:62px;
    font-size: 83px;
    font-weight: 5px;
    color:rgb(9, 10, 10);
    text-shadow:1px 1px 1px white;
    margin-bottom: 30px;    
}
.container .content p{
    height: 43px;
    font-family:'Aleo', serif;
    color: black;
    font-weight:bold;
    text-shadow: 1px 1px 2px pink;
    font-size: 18px;
}
.container .content button {
    width:180px;
    height: 34px;
    background: black;
    text-shadow: 1px 1px 2px pink;
    display: inline-block;
    border-color:black;
    text-align: center;
    color: white;

}

@media only screen and (min-width:992px) and (max-width:1200px) {
    .container {
        height: 696px;
    }  
    li a{
        padding: 18px 0px;  
    }
    .container .content {
        padding: 140px;
    }
    .container .content h1{
        font-size: 65px;
        line-height: 65px;
    } 
    .container .content p{
        font-size: 16px;
        height: 40px;
    }
    .container .content button {
        width:175px;
        height: 27px;
}
}
@media only screen and (min-width:768px) and (max-width:991px) {
    .container {
        height: 696px;
    }
    li {
        margin: 4px 5px 4px 2px;
        font-size: 15px;
    }  
    li a{
        padding: 15px 0px;  
    }
    .container .content {
        padding: 149px;
    }
    .container .content h1{
        font-size: 56px;
        line-height:95px;
    } 
    .container .content p{
        font-size: 14px;
        height: 43px;
    }
    .container .content button {
        width:175px;
        height: 27px;
        font-size: 12px;
    }
}
@media only screen and (min-width:574px) and (max-width:767px) {
    .container {
        height: 696px;
    }
    li {
        margin: 2px 2px 2px 2px;
        font-size: 11px;
    }
    li a{
        padding: 15px 1px; 
        margin: 14px;  
    }
    .container .content {
        padding: 210px;
    }
    .container .content h1{
        font-size: 39px;
        line-height: 0px;
        margin-bottom: 0px;    
    } 
    .container .content p{
        font-size: 13px;
        height: 40px;
    }
    .container .content button {
        width:171px;
        height: 24px;
        font-size: 12px;
    }
}
 

